* {
    font-family: 'B612 Mono', monospace;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: calc(100% - 40px);
    background-color: #cbe3ec77;
}

header h1 {
    font-size: 28px;
}

header div {
    display: flex;
    gap: 50px;
}

header div a {
    border-bottom: 4px solid transparent;
}

header div a:hover {
    border-bottom: 4px solid #4e64ac77;
}

.first {
    background-color: rgba(179, 178, 255, 1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 25px;
}

.info_product {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
    gap: 45px;
    background-color: rgba(179, 178, 255, 1);
}

.button {
    display: flex;
    align-items: flex-end;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    width: 250px;
    height: 50px;
    font-size: 24px;
    background-color: white;
    position: relative;
}

.i {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.in {
    width: 60%;
    padding: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    outline: 2px solid #fff;
    transition: outline-color 500ms;
}

.in:focus,
.in:valid {
    outline-color: #3c50eb;
}

.la {
    position: absolute;
    top: 0;
    left: 20%;
    color: #fff;
    transition: translate 500ms, scale 500ms;
    width: 200px;
}

.in:focus + .la,
.in:valid + .la {
    padding: inline 5px;
    translate: 10px -14px;
    scale: 0.8;
    background-color: #000;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 100px;
}
